/*inspired by Midnight Surfing*/

@-moz-document url-prefix(http://), url-prefix(https://), url-prefix(ftp://),
url-prefix(file://), url(about:blank), url-prefix("about:neterror") {
    /*ALL*/
    *, ::before, ::after {
        color: #fff !important;
        text-shadow: none !important;
        box-shadow: none !important;
        border-radius: 0px !important;
        border-color: #4c4c4c !important;
        outline: none !important;
        outline-color: #4c4c4c !important;
        border: none !important;
    }
    ::before, ::after {
        background: none !important;
    }
    div:after {
        background-color: #272822 !important;
    }
    html {
       color: #fff !important;
    }
    /*HIGHLIGHT*/
    ::-moz-selection {
       background-color: #4c4c4c !important;
       border: none !important;
    }
    /*SOLID BG*/
    html, body > *, tr, td, th, table, article, footer, #page,
    ul, li, nav, section, li > *, form, header, lable, blockquote,
    div > :not(a):not(button):not(input):not([class*="ytp"]):not([class*="html5"]) {
        background: #272822 !important;
    }
    body, nav, pre, code, header, h1 > a, h2 > a, h3 > a, dt,
    div:not([class*="ytp"]):not([class*="html5"]):after,
    div:not([class*="ytp"]):not([class*="html5"]):before,
    div:not([class*="ytp"]):not([class*="html5"]) {
        background: none !important;
    }
    span {
        background-color: transparent !important;
        display: inline !important;
    }
    a[href="/"]:not(:empty) {
        background: none !important;
    }
    td > img {
        opacity: 0 !important;
    }
    img {
        background: #888 !important;
    }
    /*INPUT*/
    input, textarea, button, select, option, optgroup, div[class*="Input"] {
        color: #DDD !important;
        background: #3e3d32 !important;
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
    }
    /*BUTTON*/
    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    button {
        background: #6c6a64 !important;
    }
    /*BUTTON:hover*/
    input[type="button"]:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    button:hover {
        color: #fff !important;
        background: #888 !important;
    }
    /*LINKS*/
    a {
        color: #FF4867 !important;
        background-color: #272822 !important;
        opacity: 1 !important;
        text-indent: 0px !important;
    }
    a:link {
        color: #8f9d6a !important;
    }
    a:visited {
        color: #cf6a4b !important;
    }
    a:hover {
        color: #FF4867 !important;
    }
    a:active {
        color: #FFAE00 !important;
    }
    body > div {
        background-color: inherit !important;
    }
    img.tex {
        background: #fff !important;
    }
    p {
        max-width: 800px;
    }
}

@-moz-document url(about:newtab), url(about:privatebrowsing) {
    * {
        background-color: transparent !important;
        color: #fff !important;
        text-shadow: none !important;
        box-shadow: none !important;
        border-radius: 0px !important;
        border-color: #4c4c4c !important;
        outline: none !important;
        outline-color: #4c4c4c !important;
        border: none !important;
    }
    input[id="newtab-search-text"] {
        color: #DDD !important;
        background: none #3e3d32 !important;
    }
    html, body, window {
        background: #272822 !important;
        color: #fff ! important
    }
    #newtab-search-submit {
        background: #666 !important;
    }
    #newtab-scrollbox {
        background: transparent none !important;
    }
    #newtab-margin-bottom {
        background-color: #272822 !important;
    }
    .newtab-title {
        background-color: rgba(0,0,0,.75) !important;
    }
    .newtab-cell {
        border: 1px solid #4c4c4c !important;
    }
}