@-moz-document url-prefix(http://), url-prefix(https://), url-prefix(ftp://),
url-prefix(file://), url(about:blank), url-prefix("about:") {
  * {
    font-family: "ProfontWindows" !important;
    font-weight: normal !important;
    font-size: 18px !important;
  }
  h, h1, h2, h3, h4 {
      color: #FF4867 !important;
      font-size: 101% !important;
  }
}
